---
- name: install gnome disk utils
  pacman:
    name:
      - gnome-disk-utility
    state: present

- name: Install bitwarden cli client
  pacman:
    name:
      - bitwarden-cli
    state: present

- name: Install evince document viewer
  pacman:
    name:
      - evince
    state: present

- name: Install bash completion
  pacman:
    name:
      - bash-completion
    state: present

- name: install fwupd
  pacman:
    name:
      - fwupd
    state: present

- name: Install team viewer
  kewlfft.aur.aur:
    name: teamviewer
    state: present
  become: yes
  become_user: aur_builder
