---
- name: Install network tools
  pacman:
    name:
      - nload
      - wireshark-qt
      - wireshark-cli
      - wireguard-tools
      - openresolv
      - inetutils
      - bind
    state: present

- name: Ensure user is part of the wireshark group
  user:
    name: "{{ main_user }}"
    groups: wireshark
    append: yes

- name: Install postman
  kewlfft.aur.aur:
    name: postman-bin
    state: present
  become: yes
  become_user: aur_builder
